.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo-small {
  display: block;
  max-width: 215px;
  max-height: 215px;
  width: auto;
  height: auto;
}

.contentSearch {
  margin: auto;
  width: 50em;
}

.lyricsSearch {
  margin: auto;
  padding-top: 10em;
  width: 50em;
}

.toggleButton {
  width: 2em;
}

#typeSearch {
  margin: auto;
  padding-bottom: 1em;
  width: 50em;
}

#typeSearchTopBar {
  padding-top: 4.5em;
  width: 15em;
  margin-right: 5em;
  margin-left: 3em;
}

#statSearch {
  margin: auto;
  padding-top: 1em;
  width: 50em;
}

.statBox {
  margin: 2.5%;
  width: 45%;
}

.statBoxLeft {
  float: left;
}

.statBoxRight {
  float: right;
}

.bpmStatBox {
  width: 100%;
}

#searchButtonLine {
  margin: auto;
  padding-top: 3em;
  width: 50em;
}

#searchButton {
  float: right;
  width: 10em;
}

#contentSearchTopBar {
  padding-top: 4.5em;
  width: 50em;
}

.textSearchTopBar {
  width: 50em;
}

.topBar {
  margin: auto;
}

.resultBox {
  width: 50em;
  margin: auto;
}

.statsStack {
  margin: auto;
  text-align: center;
}

.statsPaper {
  margin: 5px;
  margin-right: 3em;
  padding: 5px;
  /* background-color: #000000;
  color: #ffff; */
}

.statsLabel {
  color: darkgray;
  font-size: 1pt;
}

.lyrics {
  margin: auto;
  padding-top: 3em;
  width: 50em;
}

.title {
  margin-top: 5em;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */